/** ----------------------------------FONDOS EN CSS-------------------------------- */

/* 
    background-color: define el color de fondo del elemento
    
    background-image: define la imagen de fondo del elemento
    
    background-size: define el tamaño de la imagen de fondo, primer valor x, segundo y
        - cover: cambia el tamaño de la imagen de fondo para asegurarse de que permanezca completamente visible
        - contain: cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto

    background-repeat: define cómo se repite la imagen de fondo en el elemento
    
    background-position: define la posición de la imagen de fondo, primer valor x, segundo y, si no se especifica un segundo valor, éste será center
    aparte de valores numéricos podemos indicar el posicionamiento con las palabras: center, top, bottom, left and right.

    background-clip: define cuánto debe extenderse el fondo dentro del elemento

    background-origin: define el origien de la imagen de fondo

    background-attachment: define cómo se comportará la imagen de fondo al desplazarse por la página
*/


.box {
    margin: 2rem auto;
    width: 300px;
    height: 300px;
    border: thick dashed red;
}

.bg-color {
    background-color: black;
}

.bg-image {
    background-image: url("../assets/puesta-sol.jpg");
}

.bg-size {
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 300px 200px;
    background-size: 300px;
    background-size: cover;
    background-size: contain;
}

.bg-repeat {
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 100px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
}