/* 
    https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/The_box_model

    Modelo de Caja: Es la forma en que CSS ve a los elementos HTML y ¿cómo los ve? como si fueran cajas con las siguientes propiedades:

        1. El Contenido (content): El contenido (texto) del elemento HTML, tomando en cuenta sus dimensiones (width & height).
        2. El Borde (border): Lo que delimita cada uno de los elementos HTML.
        3. El Relleno (padding): Son las distancias internas (La distancia del borde al contenido)
        4. El Márgen (margin): Son las distancias externas (La distancia entre el elemento HTML y sus elementos hermanos o padres).
    
    Dentro del modelo de caja, hay que considerar que una caja tendrá 4 lados:
        1. Arriba (Top)
        2. Derecha (Right)
        3. Abajo (Bottom)
        4. Izquierda (Left)
*/

body {
  margin: 0;
}

h1 {
  width: 400px;
  height: 200px;
  /* Propiedades de tipo shorthand */
  border-color: green;
  border-top-color: red;
  border-width: thick; /* thin - 1px, medium - 3px, thick - 5px */
  border-style: solid;
  border: 2px dashed blue;
}

/** -------------------MARGIN Y PADDING--------------------- */

/* 
    Esto aplica para margin y padding
    1 valor   = 
        - Aplica a los 4 lados
    2 valores = 
        - 1er valor: Lados verticales (t/b)
        - 2do valor: Lados horizontales (l/r)
    3 valores = 
        - 1er valor: Top
        - 2do valor: Lados Horizontales (l/r)
        - 3er valor: Bottom
    4 valores = Pensar en las manecillas del reloj
        - 1er valor: Top (12)
        - 2do valor: Right (3)
        - 3er valor: Bottom (6)
        - 4to valor: Left (9)
*/
.caja-uno,
.caja-dos {
  background-color: chocolate;
  border: medium solid orange;
  padding: 20px;
  margin: 20px;
  padding: 20px 40px;
  margin: 40px 20px;
  padding: 0 40px 20px;
  margin: 50px 30px 0;
  padding: 0 40px 20px 50px;
  margin: 100px 50px 30px 0;
}

/** -------------------CAJAS DE LÍNEA VS CAJAS DE BLOQUE--------------------- */

/* 
Caja de Línea
- Ocupan el espacio necesario para mostrar su contenido.
- No tienen dimensiones modificables (alto, ancho).
- Permiten otros elementos a su lado.
    - Padding y margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL.

Caja de Bloque
    - Ocupan todo el ancho disponible, lo que genera saltos de línea.
    - Tienen dimensiones modificables (alto, ancho).
    - No permiten otros elementos a su lado (aunque especifique un ancho, siguen ocupando todo el espacio disponible a lo ancho, generando saltos de línea).
*/

.caja-bloque,
.caja-linea {
  background-color: darkblue;
  color: white;
  width: 500px;
  height: 250px;
  border: medium solid black;
  padding: 16px;
}

.caja-bloque {
  margin: 32px;
  display: block;
}

.caja-linea {
  margin: 48px;
  display: inline;
}

/** -------------------PROPIEDAD DISPLAY--------------------- */
/* 
- inline
- block
- inline-block: Se comporta como un elemento de línea pero acepta modificar sus dimensiones (alto y ancho).
- none
- table
- list-item
- flex
- grid
*/

.caja-none,
.caja-linea-bloque,
.caja-hidden {
  background-color: darkolivegreen;
  color: white;
  width: 600px;
  height: 300px;
  border: medium black solid;
}

.caja-linea-bloque {
  display: inline-block;
}

.caja-none {
  display: none;
}

/** -------------------PROPIEDAD VISIBILITY--------------------- */
.caja-hidden {
  visibility: hidden;
}

/** -------------------PROPIEDAD OVERFLOW--------------------- */
.overflow {
  background-color: darkturquoise;
  width: 200px;
  height: 100px;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
}

/** -------------------TAMAÑO DE CAJA--------------------- */

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

.box-sizing-content,
.box-sizing-border {
  background-color: deepskyblue;
  box-sizing: content-box;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: thick solid black;
  /* 
    w 500 + 10 + 10 + 5 + 5 = 530
    h 250 + 10 + 10 + 5 + 5 = 280
    */
}

.box-sizing-border {
  box-sizing: border-box;
}

.container-col-3 {
  background-color: burlywood;
  width: 600px;
  height: 300px;
  margin-top: 20px;
}

.container-col-3 > * {
  box-sizing: border-box;
  width: 200px;
  border: thin solid red;
  padding: 10px;
  float: left;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}








/** -------------------FLOAT--------------------- */

.container-floats {
  background-color: cornflowerblue;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}








/** -------------------COLAPSO DE MÁRGENES VERTICALES--------------------- */

.margin-collapse {
  background-color: skyblue;
}

.margin-collapse section {
  border: thin solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}








/** -------------------ADICIÓN DE MÁRGENES HORIZONTALES--------------------- */
.margin-collapse span {
  border: thin solid black;
  display: inline-block;
  margin-right: 16px;
  margin-left: 16px;
}








/** -------------------CENTRADO DE CAJAS--------------------- */

.sitio-web {
  border: thin solid black;
  background-color: thistle;
  width: 800px;
  height: 1000px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}