/** ----------------------------COLORES EN CSS--------------------------- */
/* 
    https://htmlcolorcodes.com/es/
*/


/** ----------------------------NOMBRES DE COLORES--------------------------- */
.color-by-name {
    background-color: coral;
    color: rebeccapurple;
    border: thick solid greenyellow;
}







/** ----------------------------SISTEMA HEXADECIMAL--------------------------- */

/* 
    0 1 2 3 4 5 6 7 8 9 A B C D E F

    RedGreenBlue (Medios Digitales) vs CyanMagentaYellowKey (Medios Impresos)

    Colores en HEX van a ser colores de 6 dígitos.
    #FF6600
*/

.color-hex {
    background-color: #ff6600;
    background-color: #f60;
    background-color: #ff6605;
    background-color: #00000050;
    background-color: #0000;
    color: #12ac78;
    border: thick solid #ffffff;
    border: thick solid #fff;
    border: thick solid #ff0000;    
    border: thick solid #f00;    
    border: thick solid #00ff00;    
    border: thick solid #0f0;    
    border: thick solid #0000ff;    
    border: thick solid #00f;    
    border: thick solid #000000;    
    border: thick solid #000;
}








/** ----------------------------SISTEMA RGB--------------------------- */

/* 
    * Acepta 8 bits por canal
    
    * 1 Bit es la unidad de información para las computadoras (0 / 1)
    
    * Para cada canal tenemos 8 posiciones
    
    * 2 Elevado a la potencia 8 = 2*2*2*2*2*2*2*2 = 256 (256 posibles valores de colores) (Es 255 porque no empieza la numeración con 1, si no 0 y en computación se toma en cuenta el 0)
    
    * Por cada canal de color 
*/

.color-rgb {
    background-color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 102, 0);
    border: thick solid rgb(128, 109, 7);
}







/** ----------------------------SISTEMA HSL--------------------------- */

/* 
    HueSaturationLightness (Tono-Saturación-Luminosidad)

    1er valor es Hue (Círculo cromático) -> representa un ángulo:
        0° / 360° -> red
        60° -> yellow
        120° -> green
        180° -> cyan
        240° -> blue
        300° -> magenta

    2do valor es Saturation (Intensidad del color):
        0% -> Escala de grises
        100% -> Color puro

    3er valor es Lightness (Luminosidad del color) -> Tender de blanco a negro:
        0% -> Negro
        50% -> Color puro
        100% -> Blanco
*/

.color-hsl {
    background-color: hsl(0, 100%, 50%);
    background-color: hsl(120, 100%, 50%);
    background-color: hsl(240, 100%, 50%);
    background-color: hsl(180, 100%, 50%);
    background-color: hsl(30, 100%, 50%);
    background-color: hsla(30, 100%, 50%, 0.5);
    color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    border: thick solid hsl(210, 75%, 65%);
}