/** ---------------------------ESTILOS DE FUENTE Y TEXTOS--------------------------------- */
/* 
    * font-family
    * font-style
    * font-weight
    * font-style
    * font-variant
    * font
*/



/** ---------------------------FONT-FAMILY----------------------- */

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    line-height: 2;
    font: italic small-caps bold 24px / 1.5 monospace;
}








/** ---------------------------FUENTES EXTERNAS----------------------- */

/* 
    Formato woff o woff2 - Web Open Font Format

    font-display: Es una propiedad que nos permite cómo es que va a cargar el texto mientras la tipografía personalizada carga
        auto - permite que el navegador utilice el método predeterminado que suele ser block
        block - oculta brevemente el texto hasta que la fuente haya sido cargada por completo
        swap - indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada se haya cargado por completo
        fallback - es una mezcla entre auto y swap
        optional - ocultará el texto, luego lo cargará con la fuente alternativa y finalmente aplicará la fuente personalizada
*/

@font-face {
    font-family: "Crescendo";
    src: url(../fonts/Crescendo.woff);
    /* src: url(../fonts/ThingsLove.woff) format("woff"),
        url(../fonts/ThingsLove.woff) format("woff2"); */
    font-display: swap;
}

.crescendo {
    font-family: "Crescendo", sans-serif;
    font-size: 2rem;
}

@font-face {
    font-family: "Things-Love";
    src: url(../fonts/ThingsLove.woff);
    font-display: swap;
}

.things-love {
    font-family: "Things-Love", cursive;
    font-size: 2rem;
}








/** ---------------------------GOOGLE FONTS----------------------- */

.raleway {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
}








/** ---------------------------TEXT STYLES----------------------- */

/* 
    text-align
    text-decoration
    text-indent
    text-overflow
    text-transform
    letter-spacing
*/

.text {
    font-size: 2rem;
    text-align: center;
    text-align: justify;
    text-align: left;
    text-decoration: overline;
    text-decoration: none;
    text-indent: 3rem;
    text-transform: none;
    letter-spacing: 0.5rem;
    word-break: break-all;
    word-break: normal;
    writing-mode: sideways-lr;
    writing-mode: horizontal-tb;
}

.text a {
    text-decoration: none;
}

.text-overflow {
    background-color: blanchedalmond;
    border: thin solid black;
    font-size: 2rem;
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    text-overflow: ellipsis;
}

.white-space {
    white-space: pre;
}

.word-spacing {
    font-size: 2rem;
    word-spacing: 1rem;
}