/** -------------------------CABECERA FIXED VS CABECERA STICKY------------------------- */
body {
    margin: 0;
}

.header {
    background-color: mistyrose;
    width: 100%;
    height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
}


.sticky-top {
    position: sticky;
    top: 0;
}


.hero-image {
    background-color: palegoldenrod;
    width: 100%;
    height: 100vh; 
}








/** -------------------------EFECTO SLIDES CON POSITION STICKY------------------------- */

.slide {
    background-color: paleturquoise;
    width: 100%;
    height: 100vh;
}

.slide:nth-child(odd) {
    background-color: palevioletred;
}

.slide-title {
    background-color: palegreen;
    padding: 16px;
    text-align: center;
    position: sticky;
    top: 50px;
    margin-top: 0;
    margin-bottom: 0;
}








/** -------------------------VENTANA MODAL / MENÚ MÓVIL CON POSICIONAMIENTO FIXED------------------------- */

.modal-window {
    background-color: black;
    /* position: absolute; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    color: white;
    display: none;
}


.modal-window:target{
    display: block;
}