/** ------------------------SINTAXIS BÁSICA----------------------- */

/* Regla CSS consta de 2 partes
1) selector: elemento HTML al que nosotros podemos aplicarle ese bloque de declaración de estilos.
2) bloque de declaraciones: Cada uno de los atributos que vamos a modificar. 

Dentro de estos, la sintaxis de las declaraciones es:
atributo: valor; (el ; quiere decir que termina la declaración)

Si el nombre del atributo css tiene más de dos palabras se escribe:
atributo-de-mas-de-dos-palabras: otro-valor;

El bloque de declaración va a estar definido por las llaves o curly brackets {}.

selector {
    bloque de declaraciones
}
*/



/** ------------------------FORMAS DE INVOCACIÓN----------------------- */

/* Son mala práctica los @import porque son bloqueantes a la hora de que el navegador lee esta instrucción */
@import url("otra-hoja.css ");

h1 {
    color: orangered;
    background-color: black;
}


/** ----------------------VERSIONES, DOCUMENTACIÓN Y ENLACES DE REFERENCIA--------------------- */
/* Links de referencia y documentación 

-https://es.wikipedia.org/wiki/CSS
-https://www.w3.org/html/logo/
-https://www.w3.org/standards/webdesign/htmlcss.html
-https://www.w3.org/TR/css-2020/
-https://developer.mozilla.org/es/docs/Web/CSS

*/


/** ----------------------------SELECTORES BÁSICOS: ETIQUETAS, IDENTIFICADORES Y CLASES---------------------------- */

/* 
Selectores básicos:
 1) Etiquetas: Son elementos HTML
 2) Identificadores: Atributo id="" - #
 3) Clases: Atributo class="" - .  
*/

p {
    color: midnightblue;
}

/* Dar estilos con Id se considera un AntiPatrón */
#parrafo-dos {
    background-color: skyblue;
}

/* 👇 LA MEJOR FORMA DE DAR ESTILOS 👇 */
/* Dar estilos con clases nos permite reutilizar nuestro código CSS */
.bg-skyblue {
    background-color: skyblue;
}

.bg-steelblue {
    background-color: steelblue;
}

.text-20 {
    font-size: 20px;
}

.text-32 {
    font-size: 32px;
}

.text-white{
    color: white;
}

/** ---------------------------SELECTORES HIJOS DIRECTOS Y DESCENDIENTES----------------------------- */


/* Selector de hijo directo */
.hijos-directos > li {
    background-color: thistle;
}

/* 
.hijos-directos > b {
    background-color: thistle;
} 

No funcionaría porque b no es un hijo directo (elemento de primer nivel).
*/


/* Selector de hijos descendientes */
.hijos-descendientes b {
    background-color: thistle;
}



/** ----------------------------SELECTOR DE HERMANOS Y ADYACENTE---------------------------- */

/* Los selectores de hermanos van a aplicar a los elementos que son hermanos y que estén por debajo del elemento de referencia */

/* Selector de hermanos en general */
.hermanos-general ~ li {
    background-color: thistle;
}


/* Selector de hermanos adyacentes */
.hermanos-adyacentes + li {
    background-color: thistle;
}



/** ----------------------SELECTORES DE ATRIBUTOS------------------- */

/* Sin valores */
.selectores-atributos a[href] {
    color: orangered;
}

/* Con valores */
.selectores-atributos a[target="_blank"] {
    font-weight: bold;
}

/* Donde sea: * */
/* El comodín del * aplica el estilo si contiene el texto en cuestión en cualquier parte */
.selectores-atributos a[href*="jonmircha"] {
    font-size: 24px;
}

/* Al inicio: ^ */
/* El comodín del ^ aplica el estilo si contiene el texto en cuestión al inicio */
.selectores-atributos a[href^="http:"] {
    text-decoration: none;
}

/* Al final: $ */
/* El comodín del $ aplica el estilo si contiene el texto en cuestión al inicio */
.selectores-atributos a[href$=".com"] {
    background-color: black;
}

/* Donde sea en una lista de clases: ~ */
/* El comodín del ~ aplica el estilo si contiene el texto en cuestión en una lista separada por espacios */
.selectores-atributos a[class~="cursos"] {
    background-color: midnightblue;
}

/* Donde sea en una lista de clases y que tenga inmediatamente un -: | */
/* El comodín del ~ aplica el estilo si contiene el texto en cuestión en una lista separada por espacios y que después del texto en cuestión venga un guión medio - */
.selectores-atributos a[class|="menu"] {
    font-style: italic;
}





/** ----------------------SELECTOR UNIVERSAL------------------- */

/* Se representa con el * (asterisco) */
* {
    font-family: sans-serif;
}


/* Selector universal según un contexto */
.selector-universal * {
    font-size: 24px;
}





/**--------------------------------PSEUDOCLASES DE ESTADO------------------------------- */

/* 
    Pseudoclases - Dan estilos dependiendo del contexto, posición o estado del elemento.

    https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes

*/

/* ? Pseudoclases para Formulario */
.form-pseudoclases *:required{
    border-color: yellow;
}

.form-pseudoclases *:valid{
    border-color: green;
}

.form-pseudoclases *:invalid{
    border-color: red;
}

.form-pseudoclases *:focus{
    background-color: skyblue;
}

.form-pseudoclases *:disabled {
    background-color: pink;
}


/* ? Pseudoclases para Enlaces */

/*
    a:link { color: blue; }          /* Enlaces no visitados 
    a:visited { color: purple; }     /* Enlaces visitados 
    a:hover { background: yellow; }  /* El usuario esta sobre el enlace
    a:active { color: lime; }        /* Enlaces activos 
*/

.menu-pseudoclases a:visited{
    color: olive;
}

.menu-pseudoclases a:hover {
    color: orange;
}

.p-pseudoclases:hover{
    font-size: 20px;
}

#temario-css:target {
    background-color: lightgreen;
}