/** ----------------------------UNIDADES DE MEDIDA----------------------------- */

/* 
    1) Absolutas (Su valor no cambia, son unidades del mundo real)
        pc, cm, mm, in, Q
        pt (1/72 in)
        px (1/96 in)

    2) Relativas (Su valor es relativo a un contexto)
        em, rem, ex, ch - al tamaño de la fuente
            em - basada en la anchura de la "m" de la fuente del elemento
            rem - basada en la anchura de la "m" de la fuente del elemento raíz    
                (html)
            ex - basada en la altura de la "x" de la fuente del elemento
            ch - basada en la anchura del "0" de la fuente del elemento
            
            % - al tamaño del contenedor
        
        vw, vh, vmin, vmax - al tamaño del viewport
        vw - ancho del viewport van de 1 a 100
            vh - alto del viewport van de 1 a 100
            vmax - entre vw y vh toma el que tenga mayor valor
            vmin - entre vw y vh el que tenga menor valor
            
    Conversiones entre unidades: http://pxtoem.com
*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}








/** ----------------------------PIXELES----------------------------- */

.pixels {
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 32px;
    border: thick solid rebeccapurple;
}








/** ----------------------------EMs----------------------------- */

.ems {
    background-color: cadetblue;
    font-size: 24px;
    padding: 1em .5em;
    border: 5px solid rebeccapurple;
}

.em-child {
    background-color: salmon;
    border: thick solid beige;
    margin: .5em;
    padding: 1em;
    font-size: 2em;
}








/** ----------------------------EMs----------------------------- */

.rems {
    background-color: cadetblue;
    font-size: 24px;
    padding: 1rem .5rem;
    border: 5px solid rebeccapurple;
}

.rem-child {
    background-color: salmon;
    border: thick solid beige;
    margin: .5rem;
    padding: 1rem;
    font-size: 2rem;
}








/** ----------------------------EXs----------------------------- */

.exs {
    background-color: cadetblue;
    font-size: 24px;
    padding: 1ex .5ex;
    border: 5px solid rebeccapurple;
}

.ex-child {
    background-color: salmon;
    border: thick solid beige;
    margin: .5ex;
    padding: 1ex;
    font-size: 2ex;
}








/** ----------------------------CHs----------------------------- */

.chs {
    background-color: cadetblue;
    /* border: 5px solid rebeccapurple; */
    width: 10ch;
}