/** ---------------------------------VARIABLES Y FUNCIONES EN CSS-----------------------------  */





/** ---------------------------------CUSTOM PROPERTIES Y FUNCION VAR()-----------------------------  */

:root {
    color: darkgreen;
    --default-bg-color: skyblue;
}

html {
    color: red;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.custom-props-1 {
    --primary-color: gray;
    --font-size : 32px;
    background-color: var(--primary-color);
} 

.custom-props-2 {
    background-color: var(--default-bg-color);
    border: thin solid var(--border-color);
    padding: 1rem;
}

.custom-props-3 {
    font-size: var(--font-size);
    border: thin solid var(--border-color);
}

.title-props {
    --primary-color: navy;
    color: var(--primary-color, orange);
    background-color: var(--default-bg-color);
}








/** ---------------------------------FUNCION CALC()-----------------------------  */

.ch-10 {
    --padding-size: 2ch;
    --num-ch: 10ch;
    background-color: var(--default-bg-color);
    font-size: 2rem;
    padding: var(--padding-size);
    width: calc(var(--num-ch) + var(--padding-size)*2);
}