/** ---------------------------------VARIABLES Y FUNCIONES EN CSS-----------------------------  */

:root {
    color: darkgreen;
    --default-bg-color: skyblue;
}

html {
    color: red;
}

.custom-props-1 {
    --primary-color: gray;
    --font-size : 32px;
    background-color: var(--primary-color);
} 

.custom-props-2 {
    background-color: var(--default-bg-color);
    border: thin solid var(--border-color);
    padding: 1rem;
}

.custom-props-3 {
    font-size: var(--font-size);
    border: thin solid var(--border-color);
}

.title-props {
    --primary-color: navy;
    color: var(--primary-color, orange);
    background-color: var(--default-bg-color);
}