html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.box {
    border: thick solid #000;
    margin: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 5rem;
}

/** ----------------------------BOX-SHADOW----------------------------- */

.shadows {
    color: navy;
	/* box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset; */
    box-shadow: 1rem 1rem 1rem 1rem;
    box-shadow: -1rem -1rem 1rem 1rem;
    box-shadow: 1rem 1rem 1rem 1rem #0005;
    box-shadow: 1rem 1rem 1rem 1rem #f00 inset;
    box-shadow: 1rem 1rem 2rem 0.5rem #0007;
}

/** ----------------------------TEXT-SHADOW----------------------------- */

.shadows {
    font-size: 2rem;
    text-align: center;
    /* text-shadow: mov-x mov-y blur-radius color; */
    text-shadow: -1rem -1rem 0.5rem hotpink;
}

/** -------------------------SOMBRAS MÚLTIPLES-------------------------- */

.shadows-multiple {
    font-size: 2rem;
    text-align: center;
    
    /* Sombras Múltiples de Caja */
    box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #f00 inset, -.5rem -.5rem 0.5rem 2rem hotpink;

    /* Sombras Múltiples de Texto */
    text-shadow: -1rem -1rem 0.5rem navy, 1rem 1rem .5rem greenyellow;
}

